<mat-stepper orientation="vertical" [linear]="isLinear" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup" class="first-form">
      <ng-template  class="info-header" matStepLabel>Informations de l'item</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>nom du produit</mat-label>
        <input matInput placeholder="compresse 100 * 5, " formControlName="firstCtrl" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>categorie tag</mat-label>
        <mat-chip-list #chipList aria-label="Fruit selection">
          <mat-chip
            *ngFor="let tag of tags"
            (removed)="remove(tag)">
            {{tag}}
            <button matChipRemove>
              <mat-icon>annuler</mat-icon>
            </button>
          </mat-chip>
          <input
            placeholder="Item type Tag"
            #fruitInput
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            (matChipInputTokenEnd)="add($event)">
        </mat-chip-list>
      </mat-form-field>

      <button class="upload-btn" mat-flat-button color="accent"> ajouter une image<ik-upload  fileName="daisy-dev-item-upload"></ik-upload></button>
      <div>
        <button mat-flat-button color="accent" matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <ng-template matStepLabel>code bare</ng-template>
    <div class="scanner-container">
      <zxing-scanner class="scanner" [formats]="allowedFormats" #scanner (scanComplete)="onScanSuccess($event)" (scanSuccess)="onScanSuccess($event)">
      </zxing-scanner>
    </div>
    <p *ngIf="itemBarCode">{{itemBarCode}}</p>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>terminer</ng-template>
    <p>item ajouté</p>
    <div>
      <button mat-button matStepperPrevious>retour</button>
      <button color="accent" mat-flat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
  <mat-step>

  </mat-step>
</mat-stepper>
