<mat-stepper orientation="vertical" [linear]="isLinear" #stepper>


  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup" class="first-form">
      <ng-template  class="info-header" matStepLabel>Informations de l'item</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>nom de l'item</mat-label>
        <input matInput placeholder="compresse 100 * 5, " formControlName="firstCtrl" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>categorie tag</mat-label>
        <mat-chip-list #chipList>
          <mat-chip
            *ngFor="let tag of tags"
            (removed)="remove(tag)">
            {{tag}}
            <button matChipRemove>
              <mat-icon>clear</mat-icon>
            </button>
          </mat-chip>
          <input
            placeholder="Item type Tag"
            #fruitInput
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            (matChipInputTokenEnd)="add($event)">
        </mat-chip-list>
      </mat-form-field>

      <button class="upload-btn" mat-flat-button color="accent"> ajouter une image<ik-upload  fileName="daisy-dev-item-upload"></ik-upload></button>
      <div>
        <button mat-flat-button color="accent" matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>


  <mat-step [stepControl]="secondFormGroup">
    <ng-template matStepLabel>code bare</ng-template>
    <div class="scanner-container">
      <zxing-scanner class="scanner" [formats]="allowedFormats" #scanner (scanComplete)="onScanSuccess($event)" (scanSuccess)="onScanSuccess($event)">
      </zxing-scanner>
    </div>
    <div class="center-content">
      <mat-form-field class="mx-auto ref-input" appearance="fill">
        <mat-label>ref scanner ou complété</mat-label>
        <input matInput placeholder="kel218ieoP"  formControlName="firstCtrl" required [value]="itemBarCode ? itemBarCode : '' ">
      </mat-form-field>
    </div>

    <div>
      <button mat-button matStepperPrevious>retour</button>
      <button mat-flat-button color="accent" matStepperNext>Next</button>
    </div>
  </mat-step>


  <mat-step>
    <ng-template matStepLabel>Terminer</ng-template>
    <div class="submit-btn">
      <p>Item ajouter avec succès</p>
      <button color="accent" mat-flat-button >Ajouter L'item</button>
      <button class="success_submit" (click)="dialogRef.close()">Fermer</button>
    </div>
  </mat-step>
  <mat-step>

  </mat-step>
</mat-stepper>
