<mat-stepper orientation="vertical" [linear]="isLinear" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup" class="first-form">
      <ng-template matStepLabel>Informations de l'item</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Favorite Fruits</mat-label>
        <mat-chip-list #chipList aria-label="Fruit selection">
          <mat-chip
            *ngFor="let tag of tags"
            (removed)="remove(tag)">
            {{tag}}
            <button matChipRemove>
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>
          <input
            placeholder="Item type Tag"
            #fruitInput
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            (matChipInputTokenEnd)="add($event)">
        </mat-chip-list>
      </mat-form-field>
      <div>
        <button mat-flat-button color="accent" matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <ng-template matStepLabel>code bare</ng-template>
    <div class="scanner-container">
      <zxing-scanner class="scanner" [formats]="allowedFormats" #scanner (scanComplete)="onScanSuccess($event)" (scanSuccess)="onScanSuccess($event)">
      </zxing-scanner>
    </div>
    <p *ngIf="itemBarCode">{{itemBarCode}}</p>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button color="accent" mat-flat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
  <mat-step>

  </mat-step>
</mat-stepper>
