<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>DAISY</span>
  <span class="spacer"></span>
  <button mat-button class="example-icon" aria-label="Example icon-button with share icon">Edouard</button>
  <button mat-icon-button  class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side">
    <p>Auto-resizing sidenav</p>
  </mat-drawer>
    <router-outlet></router-outlet>
</mat-drawer-container>
