@use '@angular/material' as mat;

$palette: mat.$indigo-palette;

.spacer {
  flex: 1 1 auto;
}

.sidenav {
  padding: 20px;
}

.sidenav-content{
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: flex-start;
  padding: 0;

  p{
    margin: 10px 0;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 400;
  }

  p:hover{
    font-weight: 600;
  }
}

.container {
  height: 100%;
  width: 100vw;
}
